In [2]:
import pandas as pd

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/liquidate/csv/liquidate_withRevenue.csv")

print("total len",len(df))

print("nft without price",len(df[df["nftPrice"]==0]))

total len 119
nft without price 76

In [12]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/liquidate/csv/firstBid_withRevenue.csv")
df=df[df["blockNumber"]<=16000000]
df=df[df["revenue_dollar"]>0]
print("len",len(df))
print("total revunue",sum(df["revenue_dollar"]))
print("max timestamp",max(df["timestamp"]))
print("min timestamp",min(df["timestamp"]))

len 39
total revunue 83903.3914781094
max timestamp 1668476483
min timestamp 1653686673

In [17]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/liquidate/csv/liquidate_withRevenue.csv")
df=df[df["revenue_dollar"]>0]
df=df[df["blockNumber"]<=16000000]
print("len",len(df))
print("total revunue",sum(df["revenue_dollar"]))
print("max revunue",max(df["revenue_dollar"]))
print("max timestamp",max(df["timestamp"]))
print("min timestamp",min(df["timestamp"]))

len 127
total revunue 3439589.590189822
max revunue 173610.47771419754
max timestamp 1668572387
min timestamp 1653908000

In [7]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/liquidate/csv/liquidate_withRevenue.csv")
lossDf=df[df["revenue_eth"]<0]
profitDf=df[df["revenue_eth"]>0]

print("len(df)",len(df))
print("sum(df[revenue_eth])",sum(df["revenue_eth"]))
print("sum(df[revenue_dollar])",sum(df["revenue_dollar"]))

print("len(lossDf)",len(lossDf))
print("sum(lossDf[revenue_eth])",sum(lossDf["revenue_eth"]))
print("sum(lossDf[revenue_dollar])",sum(lossDf["revenue_dollar"]))

print("len(profitDf)",len(profitDf))
print("sum(profitDf[revenue_eth])",sum(profitDf["revenue_eth"]))
print("sum(profitDf[revenue_dollar])",sum(profitDf["revenue_dollar"]))

len(df) 171
sum(df[revenue_eth]) 1684.7962593772197
sum(df[revenue_dollar]) 2669561.888843346
len(lossDf) 38
sum(lossDf[revenue_eth]) -591.4596825237393
sum(lossDf[revenue_dollar]) -843169.9211851507
len(profitDf) 133
sum(profitDf[revenue_eth]) 2276.2559419009594
sum(profitDf[revenue_dollar]) 3512731.8100284967

In [19]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/liquidate/csv/liquidate_withRevenue.csv")
df=df[df["revenue_dollar"]>0]
df=df[df["blockNumber"]<=16000000]
addrMap={}
for index, row in df.iterrows():
    tokenAddress=row["nftAsset"]
    revenue_dollar=row["revenue_dollar"]
    if tokenAddress not in addrMap:
        addrMap[tokenAddress]={"count":1,"revenue_dollar":revenue_dollar}
    else:
        addrMap[tokenAddress]["count"]+=1
        addrMap[tokenAddress]["revenue_dollar"]+=revenue_dollar
        
        
tempList=[]
for key,value in addrMap.items():
    # tempList.append({"address":key,"averageRevenue":value["revenue_dollar"]/value["count"]})
    tempList.append({"address":key,"averageRevenue":value["revenue_dollar"]})


df = pd.DataFrame(tempList)
df.sort_values(by="averageRevenue",ascending=False)

                                      address  averageRevenue
3  0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d    2.220095e+06
1  0x60e4d786628fea6478f785a6d7e704777c86a7c6    7.253717e+05
2  0x8a90cab2b38dba80c64b7734e58ee1db38b8992e    2.280353e+05
0  0xed5af388653567af2f388e6224dc7c4b3241c544    1.693643e+05
4  0x49cf6f5d44e70224e2e23fdcdd2c053f30ada28b    9.672286e+04

In [20]:
2.220095e+06

2220095.0