In [4]:
import pandas as pd

df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/giveBirth/csv/givebirth_withRevenue.csv")
print(len(df))
print(max(df["blockNumber"]))
print(min(df["blockNumber"]))
print(sum(df["revenue_eth"]))
print(sum(df["revenue_dollar"]))

print("min revenue_dollar",min(df["revenue_dollar"]))
print("max revenue_dollar",max(df["revenue_dollar"]))

1470
15888700
13000573
15.15397380477093
52740.167395522185
min revenue_dollar -40.784624095937296
max revenue_dollar 825.2593094666148

In [19]:
df.sort_values("revenue_dollar",ascending=False)

,transactionHash,blockNumber,timestamp,position,isError,callingFunction_internal,callingFunction_normal,callReward,rewardCount,transactionFee,coinbase_transfer,total_miner_reward,flashbots,ethPrice,revenue_eth,revenue_dollar
641,0x279ce3815cb38a12498ccd850dade2dd52aa785bf463...,13159960,1630768690,67,None,0x88c2a0bf,0x96bc3e6f,400000000000000000,10,187725467838678224,0,0,False,3887.698166,0.212275,825.259309
1197,0x36e22f5c9487299304c2027e4cd47fa6a32b4896c6ca...,13159552,1630763187,352,None,0x88c2a0bf,0x01000000,240000000000000000,10,123230877436361206,0,0,False,3887.698166,0.116769,453.963104
224,0x11f2635334f5e28ef42f8b296b0c4472a14997efd8be...,13144271,1630558643,600,None,0x88c2a0bf,0x01000000,240000000000000000,10,127086819994652220,0,0,False,3792.980121,0.112913,428.277447
294,0x4e7bd7111f219c0e92c4206808627233a1e18c7791fb...,13092949,1629873534,219,None,0x88c2a0bf,0x10010000,240000000000000000,10,126200270524978400,0,0,False,3220.924417,0.113800,366.540327
1238,0xc34687418e0a6905f24afd5acef3d1802660b4dd8ac1...,13110249,1630104637,3,None,0x88c2a0bf,0xc0bcfd4c,216000000000000000,9,106252091466927476,0,0,False,3272.420237,0.109748,359.141277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,0xcc6b8af6c2cc586711f929aa892e74165f0a660397d6...,13589671,1636563577,36,None,0x88c2a0bf,0x01010113,40000000000000000,1,45734388712052466,0,0,False,4606.572080,-0.005734,-26.415875
341,0xd8936bc09cfc756de7688af635adf32954874c94622f...,13590470,1636574012,168,None,0x88c2a0bf,0x0101011e,40000000000000000,1,45751479342396135,0,0,False,4606.572080,-0.005751,-26.494604
1348,0x9e66ae096749028d9258ed36741684dd91c3756617b8...,13661596,1637544282,52,None,0x88c2a0bf,0x01010207,64000000000000000,2,71262275420052256,0,0,False,4099.827484,-0.007262,-29.774076
263,0xaee4ec1b0e023d695450d8bc97bfc461feff2225c664...,13263662,1632154740,75,None,0x88c2a0bf,0x5583fe24,40000000000000000,1,51914452459519700,0,0,False,2965.692186,-0.011914,-35.334599
351,0xcede8f5d6e46e86a9823f871198c88527776340e222f...,13667146,1637619832,79,None,0x88c2a0bf,0x0101021e,64000000000000000,2,73947887869829904,0,0,False,4099.827484,-0.009948,-40.784624

In [2]:
df[df["revenue_dollar"]==min(df["revenue_dollar"])]

,transactionHash,blockNumber,timestamp,position,isError,callingFunction_internal,callingFunction_normal,callReward,rewardCount,transactionFee,coinbase_transfer,total_miner_reward,flashbots,ethPrice,revenue_eth,revenue_dollar
351,0xcede8f5d6e46e86a9823f871198c88527776340e222f...,13667146,1637619832,79,None,0x88c2a0bf,0x0101021e,64000000000000000,2,73947887869829904,0,0,False,4099.827484,-0.009948,-40.784624

In [5]:
df["rewardCount"].value_counts()

1     1379
2       46
10      20
5        7
3        6
6        4
7        4
4        2
9        2
Name: rewardCount, dtype: int64

In [7]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/giveBirth/csv/givebirth_withRevenue.csv")

totalCount=sum(df["rewardCount"])
totalRevenue=0

totalCost=0

for index,row in df.iterrows():
    ethPrice=float(row["ethPrice"])
    callReward=float(row["callReward"])/1e18
    
    totalRevenue+=(ethPrice*callReward)
    
    transactionFee=float(row["transactionFee"])/1e18
    coinbase_transfer=float(row["coinbase_transfer"])/1e18
    totalCost+=((transactionFee+coinbase_transfer)*ethPrice)
    
print("giveBirth平均每次调用收益: ",totalRevenue/totalCount)

print("每笔交易的成本： ",totalCost/len(df))

giveBirth平均每次调用收益:  108.6086064081738
每笔交易的成本：  97.2602322122505

In [9]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/giveBirth/csv/givebirth_withRevenue.csv")

totalRevenue=0
totalCount=0
totalFee=0

for index,row in df.iterrows():
    ethPrice=float(row["ethPrice"])
    callReward=float(row["callReward"])/1e18
    rewardCount=row["rewardCount"] 
    transactionFee=float(row["transactionFee"])/1e18
    coinbase_transfer=float(row["coinbase_transfer"])/1e18
    
    if coinbase_transfer==0:
        continue
    
    totalFee+=(transactionFee*ethPrice)
    totalRevenue+=(ethPrice*callReward)
    totalCount+=rewardCount

print("totalRevenue",totalRevenue)
print("totalCount",totalCount)
print("totalFee",totalFee)

totalRevenue 84098.91960315005
totalCount 735
totalFee 48217.39908637907

114.42029877979598

In [12]:
48217.39908637907/735

65.60190351888309

In [13]:
84098.91960315005/735

114.42029877979598