In [23]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySell/csv/buysell_final.csv")

In [24]:
len(df["market"].value_counts())
print(df["market"].value_counts())
print("len none",len(df[df["market"]=="none"]))
print("len none",len(df[df["market"]=="Arcade"]))

OpenSea_seaportV1                     5812
OpenSea_seaportV1;Sudoswap            4573
OpenSea_wyvernV2                      2841
Sudoswap                              2472
OpenSea_wyvernV1                      1542
OpenSea_wyvernV2;LooksRare            1456
X2Y2;Sudoswap                         1435
OpenSea_seaportV1;LooksRare            787
X2Y2;OpenSea_seaportV1                 483
LooksRare;Sudoswap                     442
LooksRare                              422
LooksRare;OpenSea_seaportV1            373
Blur;OpenSea_seaportV1                 350
LooksRare;OpenSea_wyvernV2             249
Blur;Sudoswap                          127
X2Y2;LooksRare                         123
Sudoswap;OpenSea_seaportV1              88
Arcade                                  62
Sudoswap;LooksRare                      54
OpenSea_wyvernV2;OpenSea_seaportV1      23
none                                    15
X2Y2                                    15
X2Y2;OpenSea_wyvernV2                   12
OpenSea_seaportV1;X2Y2                  12
OpenSea_wyvernV1;LooksRare              11
OpenSea_wyvernV1;OpenSea_wyvernV2        9
OpenSea_seaportV1;OpenSea_wyvernV2       7
GemSwap;X2Y2                             6
OpenSea_wyvernV2;OpenSea_wyvernV1        5
Rarible_v2                               4
GemSwap;LooksRare                        4
Rarible_v2;Sudoswap                      2
Blur;LooksRare                           2
Rarible_v2;OpenSea_seaportV1             2
Name: market, dtype: int64
len none 15
len none 62

In [25]:
print(df["marketEdit"].value_counts())

OpenSea      17078
Sudoswap      2614
X2Y2          2068
LooksRare     1486
Blur           479
Arcade          62
none            15
GemSwap         10
Rarible          8
Name: marketEdit, dtype: int64

In [26]:
marketSet0=set()
marketSet1=set()

valueCounts=df["market"].value_counts()
for key in valueCounts.keys():
    tempList=key.split(";")
    if len(tempList)==1:
        marketSet0.add(tempList[0])
        marketSet1.add(tempList[0])
    else:
        marketSet0.add(tempList[0])
        marketSet1.add(tempList[1])
print(marketSet0)
print(marketSet1)

{'OpenSea_wyvernV2', 'Sudoswap', 'GemSwap', 'OpenSea_wyvernV1', 'none', 'Arcade', 'X2Y2', 'LooksRare', 'Blur', 'OpenSea_seaportV1', 'Rarible_v2'}
{'Sudoswap', 'OpenSea_wyvernV2', 'OpenSea_wyvernV1', 'none', 'Arcade', 'X2Y2', 'LooksRare', 'OpenSea_seaportV1', 'Rarible_v2'}

# 总览

In [9]:
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySell/csv/buysell_final.csv")
print("ori len",len(df))
df=df[df["marketEdit"]!="none"]
df=df[df["marketEdit"]!="Arcade"]
df=df[df["marketEdit"]!="GemSwap"]

print("after",len(df))

lossDf=df[df["revenue_eth"]<0]
profitDf=df[df["revenue_eth"]>0]

print("len(df)",len(df))
print("sum(df[revenue_eth])",sum(df["revenue_eth"]))
print("sum(df[revenue_dollar])",sum(df["revenue_dollar"]))

print("len(lossDf)",len(lossDf))
print("sum(lossDf[revenue_eth])",sum(lossDf["revenue_eth"]))
print("sum(lossDf[revenue_dollar])",sum(lossDf["revenue_dollar"]))

print("len(profitDf)",len(profitDf))
print("sum(profitDf[revenue_eth])",sum(profitDf["revenue_eth"]))
print("sum(profitDf[revenue_dollar])",sum(profitDf["revenue_dollar"]))

ori len 23820
after 23733
len(df) 23733
sum(df[revenue_eth]) 2123.9239944935885
sum(df[revenue_dollar]) 5414643.888296365
len(lossDf) 1068
sum(lossDf[revenue_eth]) -30.02760794859173
sum(lossDf[revenue_dollar]) -72427.89726277572
len(profitDf) 22665
sum(profitDf[revenue_eth]) 2153.951602442174
sum(profitDf[revenue_dollar]) 5487071.785559157

In [10]:
df[df["revenue_eth"]==max(df["revenue_eth"])]

,transactionHash,blockNumber,timestamp,position,transactionFee,coinbase_transfer,flashbots,toAddress,tokenAddress,tokenId,inEth,outEth,ethPrice,revenue_eth,revenue_dollar,market,marketEdit
3406,0x0659a203bd7a97d497562b14aa18f5946ded50be2b14...,14630524,1650574237,9,492978589593789323,0,False,0x9e9346e082d445f08fab1758984a31648c89241a,0x23581767a106ae21c074b2276d25e5c3e136a68b,3730,2.232000e+20,4.400000e+19,2985.502896,178.707021,533530.330014,LooksRare,LooksRare

# 涉及市场个数分析

In [27]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySell/csv/buysell_final.csv")
df=df[df["marketEdit"]!="none"]
df=df[df["marketEdit"]!="Arcade"]
df=df[df["marketEdit"]!="GemSwap"]
addrMap={}
one=0
two=0
for index, row in df.iterrows():
    market=row["market"]
    tempList=market.split(";")
    if len(tempList)==1:
        one+=1
    else:
        two+=1
        
print(one)
print(two)

13108
10625

In [16]:
import pandas as pd
df=pd.read_csv("/mnt/sde1/geth/nft_analyse_v1/data/buySell/csv/buysell_final.csv")
df=df[df["marketEdit"]!="none"]
df=df[df["marketEdit"]!="Arcade"]
df=df[df["marketEdit"]!="GemSwap"]
addrMap={}
for index, row in df.iterrows():
    toAddress=row["toAddress"]
    revenue_dollar=row["revenue_dollar"]
    if toAddress not in addrMap:
        addrMap[toAddress]={"count":1,"revenue_dollar":revenue_dollar}
    else:
        addrMap[toAddress]["count"]+=1
        addrMap[toAddress]["revenue_dollar"]+=revenue_dollar
# addrMap
tempList=[]
for key,value in addrMap.items():
    tempList.append({"address":key,"count":value["count"]})

df = pd.DataFrame(tempList)

In [19]:
df=df.sort_values(by="count",ascending=False)
df[:10]

                                        address  count
158  0x0000007370af0000ad00be0efd2f1eb6e6e9d700   5497
48   0x9e9346e082d445f08fab1758984a31648c89241a   1371
124  0x6d660980b00c3405c2dec173cf2259b15572b9b5   1120
151  0x0000009929ab383f0000e5e800f255c6c600ad32   1088
47   0x553eea17185e5ae6bb72f9528a4c3fc1a844b859    801
140  0x0000008682fa8c3aa14b11894e90e3dcbbff715b    632
175  0xa5c5e686f7f4ff921a4c9bc0a512c3183cbc863b    631
46   0x6b58007b960016b2f559dbfd809ac4dcb1febdfe    568
97   0x00000007d259e6b322766529ac387b53a1584724    486
216  0x0000000f20b778d2424e95120652e2d40d8f5aac    464

In [20]:
addrMap["0xfd597eaa0b6e895904e8c1bf88ea79187f3ec38d"]

{'count': 50, 'revenue_dollar': 1354.4847007048463}

In [21]:
addrMap["0x00000007d259e6b322766529ac387b53a1584724"]

{'count': 486, 'revenue_dollar': 4100.408506502074}